<header>
    <nav class="nav">
        <div class="logo">
            <a href="/"><img src="/images/Logo.png" alt="Logo"></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquise pelo seu produto..." class="search">
            <!-- <img src="/images/icons/search.png" alt="ícone de pesquisa"> -->
        </div>
        <div class="hamburguer">
            <button></button>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a 
                <% if (nome) { %>
                    href="/minha-conta"
                <% }%> class="open-login">
                    <img src="/images/icons/navbar/user.png" alt="ícone usuário">
                    <% if (nome) { %>
                        <span class="user">Olá, <%= nome %>!</span>
                    <% } else { %>
                        <span class="user">Faça seu login ou cadastre-se</span>
                    <% } %>
                </a>
            </li>
            <li class="nav-item">
                <a href="/criar-lista" title="Crie sua lista de compras">
                    <img src="/images/icons/navbar/clipboard.png" alt="ícone criar lista">
                    <span>Crie sua lista de compras</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/comparar-produtos" title="Comparar Produtos">
                    <img src="/images/icons/navbar/two-arrow.png" alt="ícone comparar produtos">
                    <span>Comparar Produtos</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" title="Confira os encartes">
                    <img src="/images/icons/navbar/journal.png" alt="ícone encartes">
                    <span>Confira os encartes</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<script defer src="/js/navbar.js"></script>