<header>
    <nav class="nav">
        <a href="/" class="logo"><img src="/images/Logo.png" alt="Logo"></a>
        <div class="search-bar">
            <input type="text" placeholder="Pesquise pelo seu produto..." class="search">
            <img src="/images/icons/search.png" alt="ícone de pesquisa">
        </div>
        <button class="hamburger"></button>
        <ul class="nav-list">
            <li>
                <a href="#" class="open-login">
                    <img src="/images/icons/navbar/user.png" alt="ícone usuário">
                    <!-- <span class="user">Faça seu login ou cadastre-se</span> -->
                    <% if (nome) { %>
                        <span class="user">Olá, <%= nome %>!</span>
                    <% } else { %>
                        <span class="user">Faça seu login ou cadastre-se</span>
                    <% } %>
                </a>
            </li>
            <li>
                <a href="/criar-lista" title="Crie sua lista de compras">
                    <img src="/images/icons/navbar/clipboard.png" alt="ícone criar lista">
                    <span>Crie sua lista de compras</span>
                </a>
            </li>
            <li>
                <a href="#" title="Comparar Produtos">
                    <img src="/images/icons/navbar/two-arrow.png" alt="ícone comparar produtos">
                    <span>Comparar Produtos</span>
                </a>
            </li>
            <li>
                <a href="#" title="Confira os encartes">
                    <img src="/images/icons/navbar/journal.png" alt="ícone encartes">
                    <span>Confira os encartes</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

<script defer src="/js/navbar.js"></script>

<!-- <header id="">
    <a href="/" class="link-home">
        <img src="/images/Logo.png" alt="Logo" width="80" height="65">
    </a>
    <div class="search-bar">
        <input type="text" placeholder="Pesquise pelo seu produto..." class="search">
        <img src="/images/icons/search.png" alt="ícone de pesquisa">
    </div>
    <nav>
        <a class="open-login" 
            <% if (nome) { %>
                href='/minha-conta'
            <% } %>
        >
            <img src="/images/icons/navbar/user.png" alt="ícone usuário">
            <% if (nome) { %>
                <span>Olá, <%= nome %>!</span>
            <% } else { %>
                <span>Faça seu login ou cadastre-se</span>
            <% } %>
        </a>
        <a href="/criar-lista">
            <img src="/images/icons/navbar/clipboard.png" alt="ícone criar lista">
            <span>Crie sua lista de compras</span>
        </a>
        <a href="/comparar-produtos">
            <img src="/images/icons/navbar/two-arrow.png" alt="ícone comparar produtos">
            <span>Comparar Produtos</span>
        </a>
        <a href="#">
            <img src="/images/icons/navbar/journal.png" alt="ícone encartes">
            <span>Confira os encartes</span>
        </a>
    </nav>
</header> -->