<div class="produto ">
    <img src="/images/produtos/corona.jpg" alt="produto" width="120">
    <p class="titulo"><%= produto.titulo %></p>
    <div class="precos">
        <p class="preco-anterior">R$ 6,69 un.</p>
        <p class="preco-promocao">R$ 5,99 un.</p>
    </div>
    <div class="footer">
        <img src="/images/logo-royal.jpg" alt="mercado" width="50">
        <span>Oferta válida até 28/06</span>
    </div>
</div>