<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="shortcut icon" href="/images/favicon-offers.png" type="image/x-icon">

    <link rel="stylesheet" href="..assets/css/variables.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylecp.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container1">
        <div class="produto1">
            <img src="/images/cp/produtos/arroz.jpg" alt="feijão">
            <div class="detalhes">
                <h1 class="titulo-produto">Arroz Branco Prato Fino 5 Kg</h1>
                <p class="produto-preço1">R$ 43,90</p>
                <p class="avaliacao">4.0 estrelas (15 avaliações)</p>
            </div>
        </div>
        <div class="historico-de-preco">
            <div class="grafico-container">
                <div class="y-axis">
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                </div>
                <div class="barra" style="height: 45px;">R$ 40,10</div>
                <div class="barra" style="height: 70px;">R$ 40,50</div>
                <div class="barra" style="height: 80px;">R$ 41,25</div>
                <div class="barra" style="height: 120px;">R$ 42,00</div>
                <div class="barra" style="height: 150px;">R$ 42,75</div>
                <div class="barra" style="height: 200px">R$ 43,50</div>
            </div>
            <div class="rot-barras">
                <div class="rot-barra">Jan</div>
                <div class="rot-barra">Fev</div>
                <div class="rot-barra">Mar</div>
                <div class="rot-barra">Mai</div>
                <div class="rot-barra">Abr</div>
                <div class="rot-barra">Jun</div>    
            </div>
        </div>
    </div>
<main>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-royal.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Royal Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$40,25</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-bramil.webp" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Bramil Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$40,55</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-nagumo.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Nagumo</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$40,75</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-ville.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Ville Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$40,75</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-spani.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Spani Atacadista</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$ 41,15</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-sm.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Rede Supermarket</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$41,90</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-365.jpeg" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>365 Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$42,30</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-royale.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Empório Royale</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$42,60</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-perola.jpeg" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Supermercado Pérola</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$42,85</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-extra.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Mercado Extra</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$43,30</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-beirario.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Supermercado Beira Rio</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$43,45</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>

<footer></footer>
</main>
</body>
</html>