<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="shortcut icon" href="/images/favicon-offers.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylecp.css">
    <link rel="stylesheet" href="/css/homecp.css">
</head>
<body>
    
    <%- include('partials/navbar') %>

    <main>
        <div class="caixa1">
            <h1>Encontre as melhores ofertas de supermercado</h1>
            <p>Compare preços nos principais supermercados e economize em suas compras.</p>
            <div class="search-box">
                <input type="text" placeholder="Pesquise um produto ou marca">
                <button>Procurar</button>
            </div>
        </div>
        <div class="container">
            <h2>Produtos mais procurados</h2>

            <div class="linha"></div>
            
            <div class="products">
                <div class="product">
                    <img src="/images/cp/produtos/feijao.jpg" alt="Feijao">
                    <h3>Feijao Caldao Preto Pa 1kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 7,59</div>
                    <button class="compare-button"><a href="/feijao">Comparar</a></a></button>
                </div>
                <div class="product">
                    <img src="/images/cp/produtos/arroz.jpg" alt="Arroz">
                    <h3>Arroz Branco Prato Fino 5 Kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 43,90</div>
                    <button class="compare-button"><a href="/arroz">Comparar</a></button>
                </div>
                <div class="product">
                    <img src="/images/cp/produtos/sal.jpg" alt="Sal">
                    <h3>Sal Refinado Cisne 1 Kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 3,99</div>
                    <button class="compare-button"><a href="/sal">Comparar</a></button>
                </div>
                <div class="product">
                    <img src="/images/cp/produtos/açucar.jpg" alt="Feijao">
                    <h3>Açúcar Cristal Mais 5kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 23,00</div>
                    <button class="compare-button"><a href="acucar">Comparar</a></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>