<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="shortcut icon" href="assets/images/favicon-offers.png" type="image/x-icon">

    <link rel="stylesheet" href="assets/css/variables.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/stylecp.css">
    <link rel="stylesheet" href="assets/css/homecp.css">
</head>
<body>
    <header>
        <a href="index.html" class="link-home">
            <img src="assets/images/Logo.png" alt="Logo" width="80" height="65">
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Pesquise pelo seu produto..." class="search">
            <img src="assets/images/icons/search.png" alt="ícone de pesquisa">
        </div>
        <nav>
            <a class="open-login">
                <img src="assets/images/icons/navbar/user.png" alt="ícone usuário">
                <span>Faça seu login ou cadastre-se</span>
            </a>
            <a href="criar-lista.html">
                <img src="assets/images/icons/navbar/clipboard.png" alt="ícone criar lista">
                <span>Crie sua lista de compras</span>
            </a>
            <a href="comparar-produtos.html">
                <img src="assets/images/icons/navbar/two-arrow.png" alt="ícone comparar produtos">
                <span>Comparar Produtos</span>
            </a>
            <a href="#">
                <img src="assets/images/icons/navbar/journal.png" alt="ícone encartes">
                <span>Confira os encartes</span>
            </a>
        </nav>
    </header>
    <main>
        <div class="caixa1">
            <h1>Encontre as melhores ofertas de supermercado</h1>
            <p>Compare preços nos principais supermercados e economize em suas compras.</p>
            <div class="search-box">
                <input type="text" placeholder="Pesquise um produto ou marca">
                <button>Procurar</button>
            </div>
        </div>
        <div class="container">
            <h2>Produtos mais procurados</h2>
            <div class="products">
                <div class="product">
                    <img src="assets/images/cp/produtos/feijao.jpg" alt="Feijao">
                    <h3>Feijao Caldao Preto Pa 1kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 7,59</div>
                    <button class="compare-button"><a href="produtos/feijão.html">Comparar</a></a></button>
                </div>
                <div class="product">
                    <img src="assets/images/cp/produtos/arroz.jpg" alt="Arroz">
                    <h3>Arroz Branco Prato Fino 5 Kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 43,90</div>
                    <button class="compare-button"><a href="produtos/arroz.html">Comparar</a></button>
                </div>
                <div class="product">
                    <img src="assets/images/cp/produtos/sal.jpg" alt="Sal">
                    <h3>Sal Refinado Cisne 1 Kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 3,99</div>
                    <button class="compare-button"><a href="produtos/sal.html">Comparar</a></button>
                </div>
                <div class="product">
                    <img src="assets/images/cp/produtos/açucar.jpg" alt="Feijao">
                    <h3>Açúcar Cristal Mais 5kg</h3>
                    <p>Por apenas</p>
                    <div class="price">R$ 23,00</div>
                    <button class="compare-button"><a href="produtos/açucar.html">Comparar</a></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>