<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="shortcut icon" href="/images/favicon-offers.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">

    <link rel="stylesheet" href="/css/criar-lista.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <div class="todo-app">
            <h2><i class='bx bx-list-plus'></i> Minha Lista</h2>
            <div class="entrada">
                <input type="text" id="put" placeholder="Escreva um item...">
                <button class="add-task" onclick="AddTask()">Adicionar</button>
            </div>
            <ul id="lista-container"></ul>
        </div>
    </div>
    <footer>
        <p>© 2024 - OFFers</p>
        <div class="redes">
            <a href="https://www.instagram.com/darasautoservice/" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
    </footer>
    <script src="/js/criar-lista.js"></script>
</body>

</html>