<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/minha-conta.css">
</head>
<body>

    <div class="menu">
        <nav>
            <ul>
                <div class="usuario">
                    <i class="fa-solid fa-user"></i>
                    <p><%= nome %></p>
                    <a href="#">Minha Conta</a>
                </div>

                <div class="linha1"></div>
                <li><a href="#">Meu Carrinho</a></li>
                <li><a href="#">
                Favoritos</a></li>
                <div class="linha1"></div>
                <li><a href="#">Trocar de Senha</a></li>
                <div class="linha1"></div>
                <li><a href="#">Central de Ajuda</a></li>
                <li><a href="#">Termo de Uso</a></li>
            </ul>
        </nav>
    </div>
    
</body>
</html>