<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OFFers - Comparativo de preços de supermercados</title>
    <link rel="shortcut icon" href="/images/favicon-offers.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/stylecp.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container1">
        <div class="produto1">
            <img src="/images/cp/produtos/sal.jpg" alt="feijão">
            <div class="detalhes">
                <h1 class="titulo-produto">Sal Refinado Cisne 1 Kg</h1>
                <p class="produto-preço1">R$ 4,00</p>
                <p class="avaliacao">4.5 estrelas (29 avaliações)</p>
            </div>
        </div>
        <div class="historico-de-preco">
            <div class="grafico-container">
                <div class="y-axis">
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                    <div class="y-axis-label"></div>
                </div>
                <div class="barra" style="height: 324px;">R$ 3,24</div>
                <div class="barra" style="height: 367px;">R$ 3,67</div>
                <div class="barra" style="height: 345px;">R$ 3,45</div>
                <div class="barra" style="height: 389px;">R$ 3,89</div>
                <div class="barra" style="height: 312px;">R$ 3,12</div>
                <div class="barra" style="height: 300px;">R$ 3,00</div>
            </div>
            <div class="rot-barras">
                <div class="rot-barra">Jan</div>
                <div class="rot-barra">Fev</div>
                <div class="rot-barra">Mar</div>
                <div class="rot-barra">Mai</div>
                <div class="rot-barra">Abr</div>
                <div class="rot-barra">Jun</div>    
            </div>
        </div>
    </div>
<main>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-royal.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Royal Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,00</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-bramil.webp" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Bramil Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,09</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-nagumo.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Nagumo</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,19</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-ville.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Ville Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,29</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-spani.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Spani Atacadista</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,39</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-sm.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Rede Supermarket</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,49</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-365.jpeg" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>365 Supermercados</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,59</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-royale.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Empório Royale</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,69</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-perola.jpeg" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Supermercado Pérola</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,79</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-extra.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Mercado Extra</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,89</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>
    <div class="container">
        <div class="produto">
            <img src="/images/cp/logo-beirario.png" alt="Descrição da imagem">
            <div class="produto-info">
                <h2>Supermercado Beira Rio</h2>
                <p>Por apenas</p>
                <p class="produto-preço">R$3,99</p>
            </div>
        </div>
        <button class="loja-button">Ir á loja</button>
    </div>

<footer></footer>
</main>
</body>
</html>