@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #F1F1F1;
    padding: 10px;
}


.todo-app {
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background: #FFFFFF;
    border-radius: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.todo-app h2 {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 i {
    width: 30px;
    margin-left: 10px;
}

.entrada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.entrada input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 14px;
    width: 100%;
}

button.add-task {
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 30px;
    background-color: #FF2934;
    color: white;
    cursor: pointer;
}

button.add-task:hover {
    background-color: #E82832;
}

/* lista */
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/lista/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #7e7d7d;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../images/lista/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background-color: #F1F1F1;
    border-radius: 50%;
}