/* ADICIONAR OS COMENTARIOS */
.newpost {
    background-color: var(--background-input-text);
    margin: 15px 0;
    padding: 25px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, .25); */
}

.newpost .infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newpost .infoUser .imgUser {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--gray);
}

.newpost .infoUser strong {
    font-size: 16px;
    color: #4450FA;
    margin-left: 10px;
}

.newpost .form-post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.newpost .form-post textarea {
    background: var(--gray);
    /* background-color: #FBFBFB; */
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    border: 0;
    outline: none;
    color: var(--text);
}

.newpost .form-post .iconsButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newpost .form-post .iconsButton .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.newpost .form-post .iconsButton .icons button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    background-color: #f1f1f1;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

.newpost .form-post .iconsButton .btnSubmit {
    outline: none;
    cursor: pointer;

    background: var(--primary-red);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 48px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    margin: 10px 0;
}

.newpost .form-post .iconsButton .btnSubmit:hover {
    background: #E82832;
}

.newpost .form-post .iconsButton .tggbtnSubmit:hover {
    background-color: #4450FA;
}

/* COMENTARIOS PUBLICADOS */
.posts .post {
    list-style-type: none;
    margin-bottom: 15px;
    background: var(--background-input-text);
    /* background-color: #F1F1F1; */
    border-radius: 10px;
    /* box-shadow: 1px 0 3px rgb(0, 0, 0, 0.2); */
    padding: 25px;
    width: 100%;

}

.posts .post .inforUserPost {
    display: flex;
    align-items: center;
}

.posts .post .inforUserPost .imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF2934;
}

.posts .post .inforUserPost .nomeANDhora {
    margin-left: 10px;
}

.posts .post .inforUserPost .nomeANDhora>strong {
    color: #4450FA;
}

.posts .post .inforUserPost .nomeANDhora>p {
    color: #555;
}

.posts .post>p {
    width: 100%;
    padding: 10px;
    color: var(--text);

}

/* button (curtir,comen,compart) */
.posts .post .btnPost {
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-flow: wrap;
}

.posts .post .btnPost .filePost {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
    max-width: 100%;
    font-size: 12px;
}

.posts .post .btnPost .filePost img {
    margin-right: 5px;
}

#like {
    background-color: #FF2934;
}

#like:hover {
    background-color: #dadada;
}

#comment {
    background-color: gold;
}

#comment:hover {
    background-color: #dadada;
}

#compart {
    background-color: #4450FA;
}

#compart:hover {
    background-color: #dadada;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }

    .sidebar {
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
    }

    .topics {
        width: 100%;
    }

    .newpost .form-post textarea {
        font-size: 14px;
    }

    .posts .post {
        padding: 15px;
    }

    .posts .post .btnPost .filePost {
        font-size: 10px;
    }

    .posts .post .btnPost .filePost img {
        width: 15px;
        height: 15px;
    }

    #like,
    #comment,
    #compart {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .topics {
        width: 100%;
    }

    .newpost .form-post textarea {
        font-size: 14px;
        padding: 15px;
    }

    .posts .post {
        padding: 10px;
    }

    .posts .post .btnPost .filePost {
        font-size: 10px;
    }

    .posts .post .btnPost .filePost img {
        width: 15px;
        height: 15px;
    }

    #like,
    #comment,
    #compart {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }
}