:root {
    --background: #f1f1f1;
    --primary-red: #FF2934;
    --primary-blue: #4450FA;
    --gray: #D9D9D9;
    --dark-gray: #646464;
    --white: #FFF;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:428px){
    .menu{
        background-color: #FFF;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;/*vai ficar por cima*/
        width: 80%;
        border-radius: 30px;
        box-shadow: 0 2px 50px rgba(0,0,0,0.1);
    }
    .menu nav ul{
        text-align: left;
        list-style-type: none;
        margin-top: 50px;
    }
    .menu nav ul li a{
        color: #000000;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 4%;
        display: block;
        text-decoration: none;        
    }
    .menu nav ul li a:hover{
        background-color:#D9D9D9;
    }
    .menu nav ul li i{
        color: #000000;
    }
    .linha1{
        width: 100%;
        border-bottom: 1px solid #D9D9D9;
    }
    .usuario{
        padding: 20px 4% 10px 4%;
    }
    .usuario p{
        font-size: 25px;
    }
    .usuario a{
        text-decoration: none;
        color: #4450FA;
        font-weight: 700;
    }
    .usuario i{
        font-size: 40px;
        display: block;
    }

}