
main {
    flex: 1;
    width: 100%;
}

.container {
   display: flex;
   /* margin: 50px 20px; */
   width: 80%;

}

.profile {
   flex: 1;
   margin-right: 10px;
   background-color: #fff;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);
   border-radius: 12px;
   height: max-content; 
}

.profile-header {
    display: flex;
    margin: 5px 15px 0;
}

.profile-border {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    margin: 10px 10px 10px 0px;
    border: 2px solid var(--primary-blue);
    cursor: pointer;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

.profile-text-container {
    line-height: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.profile-title {
    font-size: 20px;
    text-transform: capitalize;
}

.profile-email {
    font-size: 14px;
}

.menu-link {
    display: block;
    text-decoration: none;
    color: var(--primary-blue);
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.menu-icon {
    margin-right: 10px;
}

.menu-link.active {
    color: #fff;
    background-color: var(--primary-blue);
}

/* .menu-link:hover {
    background-color: white;
    color: var(--primary-blue);
} */

/* .menu-link:first-child:hover {
    background-color: var(--primary-blue);
    color: #fff;
} */

.acc {
    flex: 2;
    margin-left: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
    height: max-content;
}

.acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--gray);
}

.acc-title {
    font-size: 20px;
    color: var(--primary-blue);
    font-weight: 500;
    margin-left: 10px;
}


.acc-edit {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.input-container label {
    font-size: 14px;
}

.input-container input {
    height: 35px;
    border: none;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 5px;
    color: var(--dark-gray);
    background-color: #f1f1f1;
}

.input-container input:focus {
    outline: none;
    border: 1px solid black;
    color: black;
    /* background-color: #fff; */
}

.input-container textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 5px;
    color: black;
    
}

.input-container textarea:focus {
    outline: none;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.btn-save, .btn-cancel {
    width: 8em;
    height: 3em;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 12px;
    transition-duration: 0.3;
    box-shadow: rgba(0, 0, 0, .1);
}

.btn-cancel {
    border: 1px solid var(--primary-red);
    color: var(--primary-red);
    background-color: #fff;
}

.btn-cancel:hover {
    background-color: #ececec;
}

.btn-save {
    border: 1px solid var(--primary-red);
    color: #fff;
    background-color: var(--primary-red);
}

.btn-save:hover {
    background-color: var(--primary-red-hover);
}


@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .profile {
        margin-bottom: 20px;
        margin-right: 0;
    }
    
    .acc {
        margin: 0;
    }

    .acc-header {
        flex-direction: column;
    }

    .acc-edit {
        flex-direction: column;
        margin: 10px;
    }

    .input-container {
        margin: 10px;
    }

    .input-container input {
        margin-right: 15px;
    }

    .input-container textarea {
        display: block;
        width: auto;
        margin-right: 15px;
    }
}