/* /* header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 98px;
    background-color: var(--primary-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

header .link-home {
    width: 80px;
    height: 65px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

header nav a img {
    height: 32px;
    filter: invert(100%);
    padding-right: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 454px;
}

input.search {
    height: 40px;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

input.search:focus {
    outline: none;
}

.search-bar img {
    filter: invert(50%);
    position: relative;
    left: -40px;
    height: 28px;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 98px;
    background-color: var(--primary-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

header .link-home {
    width: 80px;
    height: 65px;
}

header nav {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

header nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

header nav a img {
    height: 32px;
    filter: invert(100%);
    padding-right: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 454px;
}

input.search {
    height: 40px;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

input.search:focus {
    outline: none;
}

.search-bar img {
    filter: invert(50%);
    position: relative;
    left: -40px;
    height: 28px;
    user-select: none;
} */

header {
    background: var(--primary-blue);
    width: 100%;
    top: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

nav {
    height: 98px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 65px;
}

/* Search Bar */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 460px;
}

.search-bar input {
    height: 40px;
    font-size: 14px;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

.search-bar input:focus {
    outline: none;
}

.search-bar img {
    filter: invert(50%);
    position: relative;
    left: -40px;
    height: 28px;
    user-select: none;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-list a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    padding-block: 10px;
}

.nav-list li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-list li img {
    filter: invert(100%);
    width: 28px;
}

.nav-list li span {
    padding-left: 16px;
}

.nav-list li span:not(.user) {
    display: none;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 2px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {
    header {
        position: fixed;
        height: 120px;
    }

    .logo {
        position: relative;
        top: -10px;
        left: 10px;
    }

    .logo img {
        width: 70px;
        height: 55px;
    }

    .search-bar {
        position: absolute;
        top: 60px;
        width: 90%;
    }

    .search-bar input {
        height: 34px;
    }

    .search-bar img {
        left: 330px;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--primary-blue);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        font-size: 16px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}