header {
    background: var(--bg-primary-blue);
    width: 100%;
    z-index: 1;
    box-shadow: var(--shadow-navbar);
    flex-shrink: 0;
}

nav {
    height: 98px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo a img {
    width: 80px;
    height: auto;
}

/* Search Bar */

.search-form {
    position: relative;
    display: flex;
    width: 460px;
    flex-direction: column;
    cursor: pointer;
    margin-top: auto;
}

.search-form input {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    background: var(--background);
}

.search-form input:focus {
    outline: none;
}

.search-form img {
    filter: invert(50%);
    height: 28px;
    user-select: none;
    position: absolute;
    top: 27%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Garante que a imagem não bloqueie cliques no input */
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-list a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    padding-block: 10px;
}

.nav-list .nav-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-list .nav-item img {
    filter: invert(100%);
    width: 28px;
}

.nav-list .nav-item span {
    padding-left: 16px;
}

.nav-list .nav-item .user {
    text-transform: initial;
}

.nav-list .nav-item span:not(.user) {
    display: none;
}

.hamburguer button {
    display: none;
    border: none;
    background: none;
    border-top: 2px solid #fff;
    cursor: pointer;
}

.hamburguer button::after,
.hamburguer button::before {
    content: " ";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {
    header {
        height: 124px;
    }

    nav {
        flex-wrap: wrap;
    }

    .logo {
        order: 1;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 24px;

        position: relative;
        top: 6px;
    }

    .logo a img {
        width: 60px;
        height: auto;
    }

    .hamburguer {
        order: 2;
        width: 50%;
        display: flex;
        justify-content: end;
    }

    .hamburguer button {
        display: block;
        z-index: 1;
        margin-right: 24px;
    }

    .search-form {
        order: 3;
        width: 100%;
        margin: 0 20px;
    }

    .search-form input {
        height: 34px;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--mobile);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        align-items: center;
        flex-direction: column;
    }

    .nav-list a {
        font-size: 16px;
        opacity: 0;
        display: flex;
        justify-content: start;
    }

    .nav-list .nav-item {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }


    .nav-list .nav-item span:not(.user) {
        display: block;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer button {
        position: fixed;
        top: 26px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer button::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer button::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Modal */
.cep-info {
    line-height: 36px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-left: 8px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.modal-content {
    background: var(--background-component);
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.modal-content input[type="text"] {
    width: 80%;
    padding: 8px;
    border: 1px solid var(--background-input-text);
    border-radius: 4px;
    margin-bottom: 10px;
    background: var(--background-input-text);
}

.modal-content button {
    padding: 8px 12px;
    background-color: var(--primary-red);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid var(--primary-red);
}

.modal-content button:hover {
    background-color: var(--primary-red-hover);
}

.modal-content button.close {
    color: var(--primary-red);
    background: none;
    border: 1px solid var(--primary-red);
}

.modal-content button.close:hover {
    background-color: #ececec;
}