@font-face {
    font-family: 'Kids Magazine';
    src: url(../font/kids_magazine/Kids\ Magazine.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --q1: #d71f25;
    --q2: #F69228;
    --q3: #f0ca22;
    --q4: #73ce2a;
    --q5: #0abd31;
}

h2 {
    padding-left: 0;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .25);
    padding: 0 24px;
}

.content-product {
    display: flex;
    height: 100%;
}

.first-colunm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-img {
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.product-img img {
    width: 100%;
    height: 300px;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
}

.actions button {
    height: 36px;
    background: none;
    border: none;
    cursor: pointer;
}

.actions button i {
    padding-right: 4px;
    font-size: 16px;
}

.actions .btn-save {
    color: var(--primary-red);
}

.actions .btn-share {
    color: var(--primary-blue);
}

.second-colunm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
}

.second-box {
    display: flex;
    flex-direction: column;
    height: 350px;

}

#rating-product {
    display: flex;
    gap: 6px;
    padding: 10px 0;
}

#original-price {
    /* font-size: 12px; */
    text-decoration: line-through;
    color: var(--dark-gray);
}

#price {
    color: var(--primary-red);
}

.btn-buy {
    background: var(--primary-red);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 48px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    margin: 10px 0;
    cursor: pointer;
}

.btn-buy:hover {
    background: #E82832;
}

.third-colunm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.third-colunm>div {
    border-radius: 15px;
    background: rgb(244, 244, 244)
        /* border: 1px solid rgb(104, 104, 104);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .25); */
}

.compare-box {
    padding: 24px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-text {
    margin-bottom: 20px;
    font-family: 'Kids Magazine';
}

/*--- VELOCIMETRO ---*/
.outer-circle {
    width: 150px;
    height: 150px;
    padding: 30px;
    border-radius: 50%;
    background: radial-gradient(rgb(244, 244, 244) 0 0) content-box,
        conic-gradient(from -90deg,
            var(--q1) 36deg,
            var(--q2) 72deg,
            var(--q3) 108deg,
            var(--q4) 144deg,
            var(--q5) 180deg,
            #0000 0);
    position: relative;
}

.meter {
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.needle {
    position: relative;
    top: calc(50% - 10px);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 14px;
    /* 20 */
    width: 14px;
    /* 20 */
    background-color: #bbb;
    border-radius: 50%;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%) rotate(0deg);
}


.needle::before {
    content: "";
    position: relative;
    top: -130%;
    width: 10px;
    /* 20 */
    height: 50px;
    /* 70 */
    background-color: #bbb;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    border-radius: 0 0 20px 20px;
}

.needle::after {
    content: "";
    position: absolute;
    height: 7px;
    /* 15 */
    width: 7px;
    /* 15 */
    background-color: #6d6d6d;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
}

.alert-box {
    padding: 24px 0;
    margin: 16px 0px 0px;
}

.toggle-box {
    padding: 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .alert-text {}

#alert-title {}

#alert-desc {
    flex-wrap: wrap;
    font-size: 11px;
} */

#check {
    display: none;
}

.toggle-button {
    background-color: var(--gray);
    width: 50px;
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    margin-left: 20px;
}

.toggle-button::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 200px;
    margin: 2.5px;
    transition: 0.2s;
}

input:checked+.toggle-button {
    background-color: var(--primary-blue);
}

input:checked+.toggle-button::before {
    transform: translateX(20px);
}

.info-box {
    display: flex;
    width: 100%;
    padding-left: 60px;
    gap: 40px;
    border-bottom: 1px solid #b9b9b9;
}

.tab {
    border: none;
    background: none;
    cursor: pointer;
    padding: 4px 16px;
    position: relative;
}

.tab.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.info-box-content {
    display: none;
}

.info-box-content.active {
    display: block;
}

@media screen and (max-width:480px) {

    .content {
        margin: 0 24px;
    }

    .content-product {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        /* padding: 16px; */
    }

    .first-colunm {
        display: flex;
        justify-content: left;
    }

    .product-img {
        width: 300px;
        justify-content: left;
    }

    .actions .btn-save {
        padding-left: 0;
    }

    .second-colunm {
        padding: 0;
    }

    .second-box {
        height: 250px;
    }

    .third-colunm {
        padding: 0 16px 0 0;
    }

    .toggle-button {
        margin-left: 0;
    }

    #alert-desc {
        font-size: 11px;
    }

    .info-box {
        gap: 20px;
        padding-left: 0;
    }

}