header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 98px;
    background-color: var(--primary-blue);
}

header nav {
    display: flex;
    gap: 80px;
    justify-content: space-between;
}

header nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

header nav a i::before {
    font-size: 32px;
    height: 32px;
    color: #fff;
    padding-right: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
}

input.search {
    height: 40px;
    min-width: 454px;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

input.search:focus {
    outline: none;
}

.search-bar i::before {
    filter: invert(50%);
    position: relative;
    left: -40px;
    font-size: 24px;
    height: 24px;
}